<div class="w-3/4 max-w-lg space-y-6">

  <!-- タイトル -->
  <h1 class="text-xl font-bold text-gray-700 border-b pb-2">
    プロフィール詳細
  </h1>

  <!-- プロフィールカード -->
  <div class="bg-white rounded-xl shadow p-6 space-y-4">

    <!-- ユーザー名 -->
    <div>
      <p class="text-sm text-gray-500">ユーザー名</p>
      <p class="text-base font-medium text-gray-800">
        <%= @profile.user.nickname %>
      </p>
    </div>

    <!-- タグ -->
    <section>
      <p class="text-sm text-gray-500 mb-1">趣味</p>
      <%= render "shared/hobby_tags", hobbies: @profile.hobbies %>
    </section>

    <% if current_user != @profile.user %>
      <section>
        <p class="text-sm text-gray-500 mb-1">共通の趣味</p>

        <% if @shared_hobbies.any? %>
          <%= render "shared/hobby_tags", hobbies: @shared_hobbies %>
        <% else %>
          <p class="text-sm text-gray-600">共通の趣味はまだありません</p>
        <% end %>
      </section>
    <% end %>

    <!-- 自己紹介 -->
    <div>
      <p class="text-sm text-gray-500 mb-1">自己紹介</p>
      <p class="whitespace-pre-line text-gray-800">
        <%= @profile.bio.presence || "自己紹介は未入力です" %>
      </p>
    </div>

    <div class="mt-8 flex flex-col gap-3 items-center">
      <% if current_user == @profile.user %>
          <%= link_to "編集する", edit_my_profile_path, class: "w-full max-w-xs px-4 py-2 rounded bg-blue-600 text-white text-center hover:bg-blue-700" %>
      <% end %>

      <%= link_to "プロフィール一覧へ戻る",
              profiles_path,
              class: "text-sm text-gray-600 hover:underline" %>
    </div>
  </div>

</div>
