<nav class="bg-gray-800 px-4 py-2.5">
  <div class="container mx-auto flex items-center justify-between">
    <!-- ロゴ -->
    <%= link_to "hobby-matching-app", user_signed_in? ? profiles_path : root_path, class: "text-white text-xl font-semibold whitespace-nowrap" %>


    <!-- 右側メニュー -->
    <div class="flex items-center gap-x-4">
      <% if current_user %>

        <% unless current_user.profile %>
          <%= link_to "プロフィール作成",
                      new_my_profile_path,
                      class: "px-4 py-2 rounded-md bg-blue-600 text-white text-sm font-medium hover:bg-blue-700 transition" %>
        <% end %>

        <%= button_to "ログアウト",
                      destroy_user_session_path,
                      method: :delete,
                      class: "text-gray-300 text-sm hover:text-white transition",
                      form_class: "m-0" %>

      <% else %>

        <%= link_to "ユーザー登録",
                    new_user_registration_path,
                    class: "text-gray-300 text-sm hover:text-white transition" %>

        <%= link_to "ログイン",
                    new_user_session_path,
                    class: "text-gray-300 text-sm hover:text-white transition" %>

      <% end %>
    </div>
  </div>
</nav>
